html {
    display: flex;
    flex-wrap: nowrap;
    position: static;
}

.base {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    display: grid;
    grid-template-rows: max-content auto;
    grid-gap: 10px;
    height: auto;
    width: 100%;
    padding: 15px;
    background-image: url("../image/bankgrount2.jpg");
}

h1 {
    text-align: center;
}


/* forn-size all */

input[type="text"] {
    margin: 0% 10% 0% 10%;
    width: 70%;
}

a {
    float: right;
}

.btn {
    width: 80%;
    margin-left: 10%;
}

.addBtn {
    background-color: rgb(42, 179, 99);
    margin-left: 10%;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.header .left-aligned {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5px;
    justify-self: flex-start;
}

.header .right-aligned {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 5px;
    justify-self: flex-start;
}

.header .logo {
    background-color: rgba(255, 255, 255, 0.3);
    justify-self: center;
}

.header .right-aligned {
    justify-self: flex-end;
}

.board {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: max-content auto;
}

.board-header {
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.board-header-text {
    font-weight: bold;
    padding: 5px;
}

.board-header .left {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-gap: 10px;
    justify-self: left;
}

.board-header .right {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 10px;
    justify-self: right;
}

.button {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    border: none;
}

.board-lists {
    display: grid;
    grid-auto-columns: 272px;
    grid-auto-flow: column;
    grid-gap: 8px;
    overflow: auto;
}

.board-list {
    background-color: rgb(235, 236, 240);
    border-radius: 3px;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 10px;
    height: max-content;
    padding: 10px;
}

.list-title {
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    padding: 5%;
    margin: 5%;
    list-style: none;
}


/* MODAL CARD */

.modal-dialog {
    width: 40%;
    /* margin-left: 15%; */
    height: 70%;
}

.modal-content {
    width: 100%;
    padding: 2%;
    height: 100%;
}

.modal-left {
    float: left;
    width: 72%;
    height: 90%;
    padding-right: 3%;
}

.modal-right {
    height: 90%;
}

button {
    width: 27%;
    margin: 0.2%;
    background-color: whitesmoke;
    border: none;
}

#inputDes {
    width: 80%;
    margin-left: 0%;
}

.button-ShowDetails,
.button-Delete {
    float: right;
}

.button-descript {
    float: left;
    height: 10%;
    width: 100%;
}

.close {
    float: right;
    text-align: right;
    width: auto;
}

#checkList {
    margin-top: 10%;
    margin-bottom: 10%;
}

#activityList {
    margin-top: 5%;
}